{% extends "twitter/base.html" %}

{% block title %}フォロワー{% endblock %}

{% block content %}
<h1>フォロワー</h1>
<div class="container">
  <div class="row">
    <div class="col-md">
      <form method="get" action="{% url 'follow_user_list' %}">
        <div class="div_btn_tweet">
          <input name="search_username" value="{{ request.GET.search_username }}" type="text">
          <button class="btn btn-primary" type="submit">検索する</button>
        </div>
      </form> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3" style="height: 400px; overflow-y:scroll;">
      <table class="table table-striped"> 
        <thead class="thead-dark">
         <tr>
            <th class="th_search" colspan="2">検索結果</th>
          </tr>
        </thead>
          {% for user in user_list %}
        <tr>
          <td>
            {{ user.follower.username }}
          </td>
          <td>
            <form method="get" action="{% url 'user_detail' %}">
              <div class="div_btn_tweet">
                <input type="hidden" name="user_pk" value="{{ user.follower.pk }}">
                <button class="btn btn-primary" type="submit">詳細</button>
              </div>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}