{% extends "twitter/base.html" %}

{% block title %}ツイート画面{% endblock %}

{% block content %}
<h1>ツイート画面</h1>

<div class="container">
  <div class="row">
    <div class="col-md">
      <form method="post" action="{% url 'tweet' %}">
        {% csrf_token %}
        <table class="tweet_form"> 
          <th>ツイート内容</th>
          <tr><td>{{form.tweet_text}}</td></tr>
        </table>
        <div class="div_btn_tweet">
          <input class = "btn btn-primary" type="submit" value="ツイートする"> 
        </div>
      </form>
    <div>
  <div>
<div>
{% endblock %}