{% extends "twitter/base.html" %}

{% block title %}ツイート画面{% endblock %}

{% block content %}
<h1>ツイート画面</h1>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>ツイート内容</h2>
      <form method="post" action="{% url 'tweet' %}">
        {% csrf_token %}
        <div class="tweet_text_area">
          <textarea class="tweet_text" name="tweet_text"></textarea>
        </div>
        <div class="div_btn_tweet">
          <input class = "btn btn-primary" type="submit" value="ツイートする"> 
        </div>
      </form>
    <div>
  <div>
<div>
{% endblock %}