/*共通部分*/
h1, h2{
  text-align: center;
}

/*新規登録画面*/
table.reg_form{
  margin-left: auto;
  margin-right: auto;
}

.div_btn_register{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

/*ログイン画面*/
table.login_form{
  margin-left: auto;
  margin-right: auto;
}

.div_btn_login{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

/*ホーム画面*/
.tweet_frame{
  background: #ffffff;
  height: 500px;
  overflow-y: scroll;
  max-width: 600px;
  margin-right : auto;
  margin-left : auto;
  border: solid 1px #d4d1d1;
}

.user_name{
  margin-right: 15px;
}

/*ツイート画面*/
table.tweet_form{
  margin-left: auto;
  margin-right: auto;
}

.div_btn_tweet{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

/*ユーザ検索画面*/
.th_search{
  text-align: center;
}